@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@theme {
  --font-lexend: Lexend, sans-serif;
  --color-primary: #00203f;
  --color-secondary: #008cc9;
}