@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@theme {
  --font-lexend: Lexend, sans-serif;
  --color-primary: #00203f;
  --color-secondary: #008cc9;
}

/* Animation Classes */
.animate {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

/* Reduce Motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}